@charset "utf-8";
#map {
	float: left;
	height: 900px;
	width: 900px;
}

.rule1 {
	width: 900px;
	height:
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}.rule2 {
	width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
